@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
h1{
    font-family: 'Butterfly Kids', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    text-align: center;
    padding: 0px;
    margin: 0;
}
body{
    font-family: 'Crafty Girls', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
